asgiref==3.9.1
attrs==25.4.0
autobahn==25.10.2
Automat==25.4.16
cachetools==5.5.2
certifi==2025.7.14
cffi==2.0.0
channels==4.2.2
charset-normalizer==3.4.2
cloudinary==1.44.1
constantly==23.10.4
cryptography==46.0.3
daphne==4.2.1
dj-database-url==3.0.1
dj-rest-auth==7.0.1
Django==5.2.4
django-allauth==65.10.0
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
djangorestframework==3.16.0
drf-yasg==1.21.10
git-filter-repo==2.47.0
google-auth==2.40.3
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
inflection==0.5.1
packaging==25.0
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
PyJWT==2.10.1
pyOpenSSL==25.3.0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
rsa==4.9.1
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
zope.interface==8.0.1
